/* pages/petdetail/petdetail.wxss */
.pettool {
  display: flex;
  flex-direction:column;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.avatar{
  margin-left:30rpx;
}
.capsule-bar-bg{
  width:100%;
  position:fixed;
  top:0;
  left:0;
}


.item {
  width: 33.33%; /* 每个子元素占据一行的 1/3 宽度 */
  height: 100px; /* 子元素固定高度 */
  margin-bottom: 10px; /* 子元素之间的间距 */
}