/* pages/petdetail/petdetail.wxss */
.petinfo {
  display: flex;
  flex-direction:column;
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.pettool {
  display: flex;
  flex-direction:column;
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.capsule-bar-bg{
  width:100%;
  position:fixed;
  top:0;
  left:0;
}