/* pages/forum/forum.wxss */
.grid {
}

.following {
  display: flex;
}

.post {
  display: flex;
  flex-direction:column;
  margin-top: 200rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.content_text {
  display:-webkit-box;
  /* 表示几行后超出隐藏 */
  -webkit-line-clamp:5;
  /* 超出隐藏 */
  overflow:hidden;
  /*超出显示为省略号*/
  text-overflow:ellipsis;
  -webkit-box-orient:vertical;
  /*强制英文单词自动换行*/
  word-break:break-all;
}
.title {
  font-size: large;
  font-weight: 900;
  margin-top: 4rpx;
  margin-bottom: 10rpx;
}
.sidebar {
  margin-top:200rpx;
}

.classification {
  display: flex;
  flex-direction: row;
}
.content {
  margin-bottom: 10rpx;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 30px;
  align-items: center;
}

.actions_text {
  font-size:smaller;
  vertical-align: middle;
  margin-right: 10px;
  color: #515151;
}

.line {
  height: 1px;
  border-top: solid Silver 1px;
  margin-bottom: 30rpx;
  margin-top: 20rpx;
}

.line1 {
  height: 1px;
  border-top: solid Silver 1px;
  margin-top: -10rpx;
  margin-bottom: 10rpx;
}

.segment {
  position: fixed;
  top:400rpx;
  left:0;
}

.segment {
  position: fixed;
  top:375rpx;
  left:0;
}

.bottomblock {
  width:100%;
  margin-top:140rpx;
}

.line2 {
  height: 1px;
  border-top: solid Silver 1px;
  margin-bottom: 30rpx;
}
// 索引

.subdivision {
  margin-left: 160rpx;
}

.tip {
  margin-left:40rpx;
  margin-right:80rpx;
  margin-bottom: 150rpx;
  margin-top:40rpx;
}

.tiptitle {
  border: 1px solid #ffac63;
}

.l-selected-class{
  background-color: #ffac63 !important;
}

.l-tip-text-class{
  color: #fff !important;
  font-size: 40rpx !important;
}

.l-tip-class{
  background-color: #cccccc !important;
}

.index-item{
  display: flex;
  align-items: center;
  color: #1a1a1a;
  background-color: #fff;
  height: 70rpx;
  box-sizing: border-box;
  padding-left: 80rpx;
}

.index-name{
  margin-left: 20rpx;
}

.sidebar-class{
  right: 0 !important;
  padding-left: 10rpx !important;
  padding-right: 20rpx !important;
}