/* pages/message/message.wxss */

.message {
  margin-left: 50rpx;
  margin-right:50rpx;
}

.userinfotext {
  display: flex;
  flex-direction: column;
  margin-left: 30rpx;
}

.nicknametext {
  font-size:26rpx;
}

.posttime {
  font-weight: lighter;
  font-size: 20rpx;
}

.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-left: 20rpx;
  margin-top: 15rpx;
  margin-bottom: 5rpx;
  margin-right: 20rpx;
}

.commentinfo {
  margin-bottom: 10rpx;
  display: flex; 
  justify-content: space-between;
}

.line {
  height: 1px;
  border-top: solid Silver 1px;
  margin-bottom: 30rpx;
  margin-top: 20rpx;
}

.line2 {
  height: 1px;
  border-top: solid Silver 1px;
  padding-bottom: 60rpx;
  margin-top: 20rpx;
}

.commentlike {
  margin-left: 15rpx;
}
.userinfoanddelete {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}