/* pages/detail/detail.wxss */

.userinfotext {
  display: flex;
  flex-direction: column;
  margin-left: 30rpx;
}
.nickname {
  margin-top: -5rpx;
  margin-bottom: -5rpx;
}
.nicknametext {
  font-size:26rpx;
}

.posttime {
  font-weight: lighter;
  font-size: 20rpx;
}

.userinfo {
  display: flex;
  flex-direction: row;
}
.commentcontent {
  margin-left: 20rpx;
  margin-top: 15rpx;
  margin-bottom: 5rpx;
  margin-right: 20rpx;
}
.post {
  display: flex;
  flex-direction:column;
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.commentinfo {
  margin-bottom: 10rpx;
  display: flex; 
  justify-content: space-between;
}
.goodjob {
  margin-top: 10rpx;
  margin-right: 20rpx;
  display: flex;
  flex-direction:row;
}
.commentlike {
  margin-left: 15rpx;
}
.userinfoandlike {
  display: flex; 
  justify-content: space-between;
}

.commentinfotext {
  font-size: large;
  color: #FF8C00;
}
.commentsort {
  margin-top: 5rpx;
}
.commentsorttext {
  font-size: smaller;
  color: #FF8C00;
}
.comments {
  display: flex;
  flex-direction:column;
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}

.content_text {
  /*强制英文单词自动换行*/
  word-break:break-all;
}
.title {
  font-size: larger;
  font-weight: 900;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.content {
  margin-bottom: 20rpx;
  line-height: 45rpx;
}
.textarea {
  width: 100%;
  background: #fff;
  height: 300rpx;
  font-size: 28rpx;
  color: #555;
  border-top-left-radius: 12rpx;
  border-top-right-radius: 12rpx;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 30px;
  align-items: center;
}

.actions_text {
  font-size:smaller;
  vertical-align: middle;
  margin-right: 10px;
  color: #515151;
}

.line {
  height: 1px;
  border-top: solid Silver 1px;
  margin-bottom: 30rpx;
  margin-top: 20rpx;
}
