/* pages/userinfo/userinfo.wxss */

.userinfotext {
  display: flex;
  flex-direction: column;
  margin-left: 50rpx;
  margin-right: 50rpx;
  margin-top: 5rpx;
  flex:1;
}

.userinfotext2 {
  display: flex;
  flex-direction: column;
  margin-left: 30rpx;
}

.nickname {
  font-size:large;
}

.numtext {
  font-weight: 300;
  font-size: smaller;
}

.nums {
  margin-top: 13rpx;
  display: flex;
  flex-direction: row;
  margin-right: 20rpx;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  margin-left: 60rpx;
  margin-right: 60rpx;
  margin-top:60rpx;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-left: 60rpx;
  margin-top:60rpx;
}

.container {
  display: flex;
  flex-direction:column;
  margin-top: 50rpx;
  margin-left: 50rpx;
  margin-right: 50rpx
}
.content_text {
  /*强制英文单词自动换行*/
  word-break:break-all;
}
.title {
  font-size: larger;
  font-weight: 900;
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}

.posts_space {
  margin-top: 30rpx;
}

.content {
  margin-bottom: 20rpx;
  line-height: 45rpx;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 80rpx;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.actions_text {
  font-size:28;
  vertical-align: middle;
  margin-right: 10px;
  color: #515151;
}

.time_read {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -300rpx;
}

.time_read_text {
  font-size: 20rpx;
  font-weight: 300;
}

.line {
  height: 1px;
  border-top: solid Silver 1px;
  margin-bottom: 20rpx;
  margin-top: 20rpx;
  margin-right: 60rpx;
}

.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line2 {
  margin-bottom: 50rpx;
}


.petspace {
  margin-top: 40rpx;
}

.card {
  height:140rpx;
  font-size: larger;
  font-weight: 500;
  border: #f0f0f0 solid 1px;
}

.nospace {
  display: flex;
  margin-top: 60rpx;
  flex-direction: row;
  justify-content: center;
}