/* pages/petspace/petspace.wxss */

.search {
  flex-direction: column;
}
.petspace{
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}
.addPet {
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}
.petlist {
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}
.describe {
  color: #3683d6;
  font-size: 28rpx;
  margin-left:20rpx;
}
.capsule-bar-bg{
  width:100%;
  position:fixed;
  top:0;
  left:0;
}