/* pages/petspace/petspace.wxss */

.search {
  flex-direction: column;
}
.petspace{
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}
.addPet {
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}
.petlist {
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}

.griditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capsule-bar-bg{
  width:100%;
  position:fixed;
  top:0;
  left:0;
}