/**index.wxss**/

.userinfo {
  display: flex;
  flex-direction:row;
  margin-left: 80rpx;
  margin-right: 80rpx;
  margin-top: 100rpx;
}

.popup {
  width:300rpx;
  height:600rpx;
}

.avatar {
  display: flex;
  flex-direction:column;
  margin-top:30rpx;
}

.avatarimg{
  height:160rpx;
  width:160rpx;
  z-index: 20;
}

.avatartext {
  padding:0;
  width: 160rpx; 
  height: 160rpx; 
}

.message {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30rpx;
}

.nameandnum {
  margin-left:50rpx;
  display: flex;
  flex-direction:column;
}