/**index.wxss**/
.container {
  padding: 0rpx;
}

.userinfo {
  display: flex;
  flex-direction:row;
  margin-left: 40rpx;
  margin-right: 40rpx;
  margin-top: 100rpx;
}

.avatar {
  display: flex;
  flex-direction:column;
}

.avatarimg{
  height: 160rpx;
  width: 160rpx;
  margin-bottom: 30rpx;
}

.avatartext {
  width: 160rpx; 
  height: 60rpx; 
  font-size: 26rpx; 
  line-height:60rpx; 
  text-align:center;
}

.message {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.nameandnum {
  margin-left:50rpx;
  display: flex;
  flex-direction:column;
}